<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a wikipedia replica</p>
  <p><%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-primary'  %></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Create Your Own Wikis</h2>
    <p>Share your thoughts on any topic you'd like!</p>
  </div>
  <div class="col-md-4">
    <h2>Edit Others Wikis</h2>
    <p>Make sure nobody is spreading fake news!</p>
  </div>
  <div class="col-md-4">
    <h2>Become a premium user!</h2>
    <p>Get access to other content standard users can't!</p>
  </div>
</div>
